langchain
langchain_groq
openai
streamlit
python-dotenv
PyPDF2
pdfplumber
tiktoken
faiss-cpu
langchain-community
sentence-transformers
pytesseract
python-docx
pillow
flask
flask-cors
fastapi
uvicorn
python-multipart
pdf2image
